/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* ***___***___***___***___*** Start Project ***___***___***___***___*** */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}










/*---------------------------Project Responsive---------------------------*/

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .headert__link{
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }


    .header__icon{
        display: block;
    }

    /* .menu{
        /* display: none; */
        /* position: fixed;
        top: 0;
        left: -256;
        bottom: 0;
        background: blueviolet;
        width: 16rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding: 2rem 1rem;
    } */ */


    /* .menu__item{
        font-size: 1.2rem;
        margin: 2rem;
    } */
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}


.container{

}

/*---------------------------header top---------------------------*/

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}


.nav{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}


.nav-logo{

}


.menu{
    list-style-type: none;
    padding-left: 4rem;
    display: flex;
    /* justify-content: center; */
    gap: 2rem;
    margin-left: 2rem;

}


.menu__item{
    color: #081D43;
}


.menu_link{
    text-decoration: none;
}


.headert__link{
    text-decoration: none;
    border: 2px solid #0050C8;
    padding: 0.8rem 1.5rem;
    color: white;
    background-color: #0050C8;
    border-radius: 0.5rem;
}

.header__icon{
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}
/*---------------------------header bottom---------------------------*/

.header_bottom{

}


.header_bottom_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8rem;
    flex-wrap: wrap;
}

.header_content_wrapper{
    max-width: 28rem;
}


    .content_left{
        flex-basis: 50%;
    }


            .header_content_title{
                font-family: "TTNorms Medium";
                color: #081D43;
                font-weight: normal;
            }


            .header_text{
                /* font-family: "TTNorms Regular"; */
                color: #6C7890;
                max-width: 25rem;
                line-height: 2.5rem;
            }


                .header_bottom_links{
                    display: flex;
                    gap: 1rem;
                }

                    .header_button_link_1{
                        text-decoration: none;
                        display: block;
                        width: 10rem;
                        text-align: center;
                        padding: 0.8rem 1.5rem;
                        color: #FFFFFF;
                        background-color: #87BC25;
                        border-radius: 0.5rem;
                    }


                    .header_button_link_2{
                        text-decoration: none;
                        display: block;
                        width: 10rem;
                        text-align: center;
                        padding: 0.8rem 1.5rem;
                        color: #FFFFFF;
                        background-color: #2F5BEA;
                        border-radius: 0.5rem;
                    }


    .content_right{
        flex-basis: 50%;        
    }


            .header_bottom_picture{
                width: 100%;
                
            }





/*---------------------------Main How It Works---------------------------*/


.main_how_it_work{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;

}

.main_top_p{
 color: #6C7890;
 font-size: 1.5em;
}

.main_top_h2{
    color: #081D43;
    font-family: "TTNorms Medium";
    font-size: 2em;
    margin-bottom: 5rem;
    font-weight: lighter;
    margin-top: 0;
}


.main_top_items_h3{
    color: #081D43;
    font-size: 1.1em;
    font-weight: normal;

}


.main_top_items_p{
    color: #6C7890;
    max-width: 16rem;
    line-height: 2rem;
}


.main_top_package{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.7rem;
}
.main_top_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;

}
.main_image{
    margin-bottom: 4rem;
    margin-top: 2rem;
    display: block;

}




/*---------------------------Main Reviews---------------------------*/

.main_reviews{
    background-color: #2F5BEA;
}

.review_Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 1rem 0;
    flex-wrap: wrap;
}


.main_review_titile{
    color: #FFFFFF;
    font-weight: lighter;
    font-size:2rem;
    margin-bottom: 0;
}


.main_review_p{
    color: #FFFFFF;
    max-width: 26rem;
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}


.review_main{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 4rem;
 flex-wrap: wrap;
}


.review_main_item{
 background-color: #FFFFFF;
 border-radius: 4px;
 max-width: 23rem;
 max-height: 20rem;
 margin-top: 2rem;
}


.review_main_p{
    font-family: "Times New Roman";
    font-weight: lighter;
    font-style: italic;
    margin: 1rem;
    padding-bottom: 6rem;
    line-height: 2rem;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #6C7890;
    padding-right: 5rem;
    gap: 1rem;

}

.profile_icon{

}

.profile_p{

}

.review_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    flex-wrap: wrap;
}


.project_icon{
    margin: 0.5rem;
    margin-bottom: 3.5rem;

}

/*---------------------------Main Portfolio---------------------------*/


.main_portfolio{
    margin-top: 5rem;
}

.portfolio_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio_title{
    font-family: "TTNorms";
    font-weight: 100;
    margin: 0.5rem;

}
.portfolio_p{
    font-family: "TTNorms Light";
    font-weight: 100;
    font-size: 1.7em;
    margin-top: 0.5rem;
}
.portfolio_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-bottom: 2rem; */

}



.portfolio_grid_items{
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    overflow: hidden;
}



.portfolio_img{
    width: 100%;
    height: 100%;
}
/* #portfolio_1{
    grid-area: 1/3/2/4;
}
#portfolio_2{
    grid-area: 2/3/3/4;
}
#portfolio_3{
    grid-area: 1/2/2/3;
}
#portfolio_4{
    grid-area: 2/2/3/3;
}
#portfolio_5{
    grid-area: 2/1/3/2;
}
#portfolio_6{
    grid-area: 1/1/2/2;
} */


/*---------------------------footer---------------------------*/

.fotter{

}


.email_footer{
 background-color: #2C57E4;
 padding: 3.5rem 0;
}

.parent_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.footer_p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: lighter;
}

.form_email{
background-color: #FFFFFF;
flex-basis: 24rem;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 0.4rem;
padding: 0.3rem;
}

#email_address{
    font-weight: lighter;
    padding-left: 1.3rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;

}

.send_button{
    background-color: #2F5BEA;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;

}
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}

#copyright,
#company_rights{
    font-size: smaller;
}